extends layout 

block form 
    form(action='/formdata' method='post')
        input(type='text' id='name' name='name')
        label(for='name') Name
        br
        input(type='text' id='surname' name='surname')
        label(for='surname') Surname
        br
        input(type='text' id='snumber' name='snumber')
        label(for='snumber') Student number
        br
        input(type='number' id='grade' name='grade')
        label(for='grade') Grade
        br
        button(type='submit') Submit
    br

block formdata