extends layout

block formdata 
    table 
        tr 
            th Name 
            th Surname 
            th Student number 
            th Grade 
        tr 
            td #{name}
            td #{surname}
            td #{snumber}
            td #{grade}
